<app-header-admin></app-header-admin>
<div class="my-container">
  <ngx-loading [show]="loading || contadorLoading!=2" [config]="{ fullScreenBackdrop: true,
    backdropBackgroundColour: 'rgba(0, 0, 0, 1)', backdropBorderRadius: '10px',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }">
  </ngx-loading>
</div>
<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-4 order-lg-2">
              <div class="card-profile-image">
                <a>
                  <img [src]='profesor.imagen' class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading"></span>
                    <span class="description"></span>
                  </div>
                  <div>
                    <span class="heading"></span>
                    <span class="description"></span>
                  </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading"></span>
                  <span class="description"></span>
                </div>
                <div>
                  <span class="heading"></span>
                  <span class="description"></span>
                </div>
                <div>
                  <span class="heading"></span>
                  <span class="description"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <label href="#" class="btn btn-sm btn-info mr-4">
              Cambiar Foto
              <input type="file" style="display:none;" (change)="editarFoto($event)">
            </label>
            <br><br>
            <h3>{{profesor.nombres}} {{profesor.apellido_paterno}} {{profesor.apellido_materno}}</h3>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>({{profesor.nombre_usuario}})</div>
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>{{profesor.email}}/{{profesor.telefono}}</div>
            <div><i class="ni education_hat mr-2"></i></div>
          </div>
          
          <div class="mt-5 py-5 border-top text-center">
            <h4 class="display-3 pull-rigth">Recursos Profesor</h4>
              <div class="row justify-content-center">
                  <div class="col-xl-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="cursos-profesor-tab" data-toggle="tab" href="#cursos_profesor_observacion" role="tab" aria-controls="cursos_profesor"
                          aria-selected="false">Recursos</a>
                      </li>
                    </ul>
                      
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="estudiante_observacion" role="tabpanel" aria-labelledby="estudiante-tab">
                        <div class="mb-8 ">
                          <br>
                          <div class="table-responsive-lg"> 
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">Nombre</th>
                                  <th scope="col">Asignatura</th>
                                  <th scope="col">Estudiantes</th>
                                  <th scope="col">Versión</th>
                                  <th scope="col">Activo</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let curso of cursos_tabla">
                                  <td>{{curso.nombre}}</td>
                                  <td>{{curso.asignatura}}</td>
                                  <td>{{curso.alumnos}}</td>
                                  <td>{{curso.version}}</td>
                                  <td>
                                    <div *ngIf="curso.activo==false">
                                      <div class="icon icon-shape bg-gradient-danger rounded-circle text-white mb-1">
                                        <i class="far fa-times-circle text-white" aria-hidden="true"></i>
                                      </div>
                                    </div>
                                    <div *ngIf="curso.activo==true">
                                      <div class="icon icon-shape bg-gradient-success rounded-circle text-white mb-1">
                                        <i class="far fa-check-circle text-white" aria-hidden="true"></i>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table> 
                            <div class="d-flex justify-content-between p-2">
                              <ngb-pagination [collectionSize]="collectionSizeCursosProfesor" [(page)]="pageCursosProfesor" [pageSize]="pageSizeCursosProfesor">     
                              </ngb-pagination>
                                      
                              <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeCursosProfesor">
                                <option [ngValue]="2">2 cursos por página</option>
                                <option [ngValue]="4">4 cursos por página</option>
                                <option [ngValue]="6">6 cursos por página</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center">
    <button type="button" class="btn btn-outline-danger" (click)="cancelar()"> Volver </button>
  </div>
</main>
<app-footer-admin></app-footer-admin>
