<app-header-inicio></app-header-inicio>
<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true,
      backdropBackgroundColour: 'rgba(0, 0, 0, 1)', backdropBorderRadius: '10px',
      primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }">
    </ngx-loading>
  </div>
<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-info">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <img src="../assets/img/logo/logo_vr_5.png" style="height:180px;">
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-3">
              <form role="form" [formGroup]="formGroupLogin">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input name="email" formControlName="email" type="email" class="form-control" placeholder="Email o Nombre de Usuario">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input name="password" formControlName="password" type="password" class="form-control" placeholder="Contraseña">
                  </div>
                </div>
                <div class="form-group text-center">
                  <div ngbDropdown class="d-inline-block"> 
                    <button class="btn btn-outline-info" id="dropdownCursoEstudiante" ngbDropdownToggle>{{persona}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownCursoEstudiante">
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem (click)="cambiarPersona('ADMINISTRADOR')">Administrador</button>
                        <button ngbDropdownItem (click)="cambiarPersona('PROFESOR')">Profesor</button>
                        <button ngbDropdownItem (click)="cambiarPersona('ALUMNO')">Alumno</button>
                        <!--     <button ngbDropdownItem (click)="cambiarPersona('APODERADO')">Apoderado</button>
                        <button ngbDropdownItem (click)="cambiarPersona('PROFESOR')">Profesor</button> -->
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-info my-4" (click)="login()" [disabled]="formGroupLogin.invalid">Iniciar Sesión</button>
                </div>
            </form>
            </div>
          </div>
          <div class="row mt-3">
<!--             <div class="col-6">
              <a href="#" class="text-light">
                <small>Forgot password?</small>
              </a>
            </div>
            <div class="col-6 text-right">
              <a href="#" class="text-light">
                <small>Create new account</small>
              </a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer-inicio></app-footer-inicio>