<div class="my-container">
  <ngx-loading [show]="contadorLoading!=2" [config]="{ fullScreenBackdrop: true,
      backdropBackgroundColour: 'rgba(0, 0, 0, 1)', backdropBorderRadius: '10px',
      primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }">
  </ngx-loading>
</div>
<app-header-alumno></app-header-alumno>
<tour-step-template>
  <ng-template let-step="step">
    <div role="dialog">
      <div class="modal-header tour-step-content">
        <h4 class="modal-title">{{step?.title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{step?.content}}</p>
      </div>
      <div class="modal-footer tour-step-navigation">
        <button *ngIf="tourService.hasPrev(step)" class="btn btn-sm btn-success" (click)="tourService.prev()">«
          {{step?.prevBtnTitle}}</button>
        <button *ngIf="tourService.hasNext(step)" class="btn btn-sm btn-success"
          (click)="tourService.next()">{{step?.nextBtnTitle}} »</button>
        <button class="btn btn-sm btn-warning" (click)="terminarTutorial()"> Terminar </button>
      </div>
    </div>
  </ng-template>
</tour-step-template>
<main>
  <section class="section">
    <div class="container" tourAnchor="mis_recursos">
      <h2 class="display-3">Mis Recursos</h2>
      <div class="row row-grid align-items-center">
        <div class="col-xl-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="curso-tab" data-toggle="tab" href="#curso_existente" role="tab"
                aria-controls="curso" aria-selected="false">Recursos</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="curso_existente" role="tabpanel" aria-labelledby="curso-tab">
              <div class="mb-8 ">
                <br>
                <div class="table-responsive-lg">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Profesor</th>
                        <th scope="col">Asignatura</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let curso of cursos_tabla">
                        <th scope="row"><img [src]='curso.imagen' class="mr-2" style="width: 50px"></th>
                        <td>{{ curso.nombre }} </td>
                        <td>{{ curso.profesor.nombres}} {{ curso.profesor.apellido_paterno}}
                          {{ curso.profesor.apellido_materno}}</td>
                        <td>{{ curso.asignatura.nombre}}</td>
                        <td>
                          <div *ngIf="!curso.activo">
                            <div class="icon icon-shape bg-gradient-danger rounded-circle text-white mb-1">
                              <i class="far fa-times-circle text-white" aria-hidden="true"></i>
                            </div>
                          </div>
                          <div *ngIf="curso.activo">
                            <div class="icon icon-shape bg-gradient-success rounded-circle text-white mb-1">
                              <i class="far fa-check-circle text-white" aria-hidden="true"></i>
                            </div>
                          </div>
                        </td>
                        <td>
                          <button data-toggle="tooltip" data-placement="top" title="Jugar recurso"
                            [disabled]="verificarJugar(curso)" type="button" class="btn btn-success btn-sm"
                            (click)="jugarRecurso(curso.id,curso.curso_base.id)">
                            <i class="fas fa-gamepad"></i>
                          </button>
                          <button type="button" class="btn btn-info btn-sm" (click)="ver_detalle_curso(curso)"><i
                              class="far fa-eye"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeCurso" [(page)]="pageCurso"
                      [pageSize]="pageSizeCurso">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeCurso">
                      <option [ngValue]="2">2 cursos por página</option>
                      <option [ngValue]="4">4 cursos por página</option>
                      <option [ngValue]="6">6 cursos por página</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer-alumno></app-footer-alumno>
